@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 12px;
}

* { scroll-behavior: smooth; }

.animate-breathe {
  animation: breathe 6s ease-in-out infinite;
}
@keyframes breathe {
  0%, 100% { transform: scale(1); opacity: .85; }
  50% { transform: scale(1.04); opacity: 1; }
}